<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>prodile page</title>
</head>
<body>
    <h1>welcome : <%= user.name %></h1>
    <h1>my city is : <%= user.city %></h1>
    <h1>my mail address is : <%= user.email %></h1>
</body>
</html>